.content{
	width: 600px;
	margin: 0 auto;
}
.title{
	background-color: #e91e63;
	padding: 12px;
	color: white; 
	text-align: center;
}
.fr{
	margin-top: 20px;
	
}
label {
	float: left;
	width: 150px;
	text-align: right;
}
#gfr{
	float: left;
	width: 200px;
}

#gfr > div{
	width: 50%;
	text-align: center;
}

[type="radio"]:checked{
	width: 30px;
	height: 30px;
}
.ft12{
	font-size: 12pt;
}
.ft14{
	font-size: 14pt;
}
.ft16{
	font-size: 16pt;
}
.bold{
	font-weight: bold;
}
.cb{
	text-align: center;
	margin: 20px;
	font-size: 20pt;
}